@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: large;
}

h2 {
    font-size: medium;
}

body,
main {
    width: 100%;
    height: 100%;
}

main {
    height: 80vh;
}

header {
    width: 100%;
    background-color: #f1f1f1;
    position: fixed;
    border-radius: 0 1px 1px 0;
    padding: 8px;
    display: flex;
    align-items: center;
    height: 60px;

}

header>section:nth-of-type(1) {
    width: 20%;
    display: flex;
    justify-content: flex-start;
}

header>section:nth-of-type(2) {
    width: 60%;
    display: flex;
    justify-content: center;
}



header>section:nth-of-type(3) {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

header>section>img:nth-of-type(1) {
    width: 50%;
    flex-grow: 0;
}

#spacer {
    height: 65px;
}

#search-bar {
    text-align: center;
    margin: 10px;

}

#search-bar>input {
    padding: 2px 50px 2px 4px;

}

.player-div {
    border: 1px solid #f1f1f1;
    padding: 15px;
    display: flex;
}

.player-div>h2 {
    display: inline;
}

footer {
    width: 100%;
    text-align: right;
    color: #c2c2c2;
    padding: 0 20px;
}

footer>span {
    color: #FE654F;
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    header>section>img:nth-of-type(1) {
        width: 40%;
    }

    header>section:nth-of-type(1) {
        display: flex;
        justify-content: flex-start;
    }

    header>section:nth-of-type(2) {
        display: flex;
        justify-content: center;
    }



    header>section:nth-of-type(3) {
        display: flex;
        justify-content: flex-end;
    }
}



@media only screen and (min-width: 768px) {

    /* For desktop: */
    header>section>img:nth-of-type(1) {
        width: 30%;
    }

    header>section:nth-of-type(1) {
        display: flex;
        justify-content: flex-start;
    }

    header>section:nth-of-type(2) {
        display: flex;
        justify-content: center;
    }



    header>section:nth-of-type(3) {
        display: flex;
        justify-content: flex-end;
    }
}